<html>

    <head>

    </head>
    <body>

        <h3>{{ciudad}} - {{ fecha }}</h3>
        <h2>Hola {{ nombre }}</h2>
        <p>
            Gracias Por La compra De:
            <br>
            {{ name }}  {{ producto }} Con Valor De {{ precio }}
            <br>
            En los proximos dias sera enviado tu paquete,
            no olvides seguirnos en nuestras redes sociales como @variedadesnaii
            <br>
            Que tengas un feliz dia
            <br>
            att: variedadesnaii
        </p>
        <h6>Este Correo Se envia Desde El Proyecto De Naileth Hoyos</h6>
    </body>

</html>